<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar - Integrantes </title>
    <link rel="stylesheet" href="/assets/css/crear.css">
</head>
<body>
    <h2>Tipo Media:  {{TipoMedia.id_tipo_media}}. {{TipoMedia.nombre}} - Editar </h1>
    <section> 
        <p>{{mensaje}}</p>
    </section>
    <section>
        <form action="/admin/TipoMedia/update/{{TipoMedia.id_tipo_media}}" method="post">
        <fieldset>
            <legend>Tipo Media</legend>

            <label for=""> ID </label>
            <input type="text" name="id_tipo_media" id="id_tipo_media" value="{{TipoMedia.id_tipo_media}}" disabled >

            <label for="nombre">Nombre</label>
            <input id="nombre" name="nombre" type="text" value="{{TipoMedia.nombre}} ">

            <label for="activo_integrante">activo</label>
            <input type="radio" id="activo_integrante" name="activo" value="1">

            <label for="inactivo_integrante">inactivo</label>
            <input id="inactivo_integrante" name="activo" type ="radio" value="0"> <br>

            <label for="orden">Orden</label>
            <input id="orden" name="orden" type="text" value="{{TipoMedia.orden}}" disabled>


        </fieldset>
        <input type="submit" value="Editar">
        </form>
    </section>
    <a href="/admin/TipoMedia/listar">volver a Tipo Media</a>
</body>
</html>