<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Integrantes</title>
    <link rel="stylesheet" href="/assets/css/tabla.css">
</head>
<body>
    <h1>Tipo Media</h1>
    <h2>Listado</h2>
    <h3>Filtar Datos</h3>
    <section class="filter-form-container">
     
        <form method="get" action="/admin/TipoMedia/listar">
            <label>ID </label>
            <input type="text" name="s[id_tipo_media]">

            <label> Nombre </label>
            <input type="text" name="s[nombre]">

            <label>Orden</label>
            <input type="text" name="s[orden]">

            <input type="submit" value="filtrar">
        </form>
    </section>
    <section>
        <table>
            <tr>
                <th>id_tipo_media</th>
                <th>nombre</th>
                <th>orden</th>
                <th>activo</th>
                <th>acciones</th>
            </tr>
            {{#each tipo_media}}
            <tr>
                <td><a href="/admin/TipoMedia/edit/{{id_tipo_media}}">{{this.id_tipo_media}}</a> </td>
                <td> {{nombre}} </td>
                <td> {{orden}} </td>
                <td> {{activo}} </td>
                <td>
                    <form action="/admin/TipoMedia/delete/{{id_tipo_media}}" method="post">
                        <input type="submit" value="Eliminar">
                    </form>
                </td>
            </tr>
            {{/each}}
            
        </table>
    </section>
    <a href="/admin"><strong>Volver</strong> </a> <br>
    <a href="/admin/TipoMedia/crear"><strong>Crear Nuevo</strong></a>
</body>
</html>