<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Administrativa</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f9;
            color: #333;
            text-align: center;
        }

        h1 {
            background-color: #aa8caf;
            color: white;
            padding: 20px 0;
            margin: 0;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        ul li {
            margin: 15px 0;
        }

        ul li a {
            text-decoration: none;
            color: #aa8caf;
            padding: 10px 20px;
            border: 2px solid #aa8caf;
            border-radius: 5px;
            transition: background-color 0.3s, color 0.3s;
        }

        ul li a:hover {
            background-color: #aa8caf;
            color: white;
        }

        a {
            display: inline-block;
            margin: 20px 0;
            text-decoration: none;
            color: #aa8caf;
            padding: 10px 20px;
            border: 2px solid #aa8caf;
            border-radius: 5px;
            transition: background-color 0.3s, color 0.3s;
        }

        a:hover {
            background-color: #aa8caf;
            color: white;
        }
    </style>
</head>
<body>
    <h1>Tablas</h1>
    <ul>
      <li> <a href="/admin/Integrantes/listar "> Intregrantes </a></li>
      <li><a href="/admin/Media/listar"> Media </a></li>
      <li><a href="/admin/TipoMedia/listar">TipoMedia</a></li>
    </ul>
    <a href="/">volver</a>
</body>

</html>