<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Integrantes</title>
    <link rel="stylesheet" href="/assets/css/tabla.css">
</head>
<body>
    <h1>Integrantes</h1>
    <h2>Listado</h2>
    <h3>filtrar datos</h3>
    <h2> {{mensagge}} </h2>
    <section class="filter-form-container">
       
        <form method="get" action="/admin/Integrantes/listar">
            <label>ID </label>
            <input type="text" name="s[id]">

            <label> Matricula </label>
            <input type="text" name="s[matricula]">

            <label for="">Nombre</label>
            <input type="text" name="s[nombre]">

            <label for="">Apellido</label>
            <input type="text" name="s[apellido]">

            <label for="">Url</label>
            <input type="text" name="s[url]">

            <label for="">Orden</label>
            <input type="text" name="s[orden]">

            <input type="submit" value="filtrar">

        </form>
    </section>
    <section>
        <table>
            <tr>
                <th>id</th>
                <th>matricula</th>
                <th>nombre</th>
                <th>apellido</th>
                <th>url</th>
                <th>orden</th>
                <th>activo</th>
                <th>acciones</th>
            </tr>

            {{#each integrantes}}
            <tr>
                <td><a href="/admin/integrantes/edit/{{id}}">{{this.id}}</a> </td>
                <td> {{this.matricula}} </td>
                <td> {{this.nombre}} </td>
                <td> {{this.apellido}} </td>
                <td>{{this.url}} </td>
                <td> {{this.orden}} </td>
                <td> {{this.activo}} </td>
                <td>
                    <form action="/admin/integrantes/delete/{{this.id}}" method="post">
                        <input type="submit" value="Eliminar">
                    </form>
                </td>
            </tr>
            {{/each}}
            
        </table>
    </section>
    <a href="/admin"><strong>Volver</strong> </a> <br>
    <a href="/admin/integrantes/crear"><strong>crear nuevo</strong></a>
</body>
</html>