<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/crear.css">
    <title>Media Crear</title>
</head>
<body>
    <h1>Media Crear</h1>
    <h2>Crear</h2>
    <section>
        <p>{{mensaje}}</p>
    </section>
    <section>
        <form action="/admin/Media/create" method="post" enctype="multipart/form-data">
            <fieldset>
                <legend>Media</legend>
                <label for="titulo">Titulo</label>
                <input id="titulo" name="titulo" type="text">

                <label for="nombre">Nombre</label>
                <input id="nombre" name="nombre" type="text">

                <label for="url_video">Video</label>
                <input id="url_video" name="url_video" type="text">

                <label for="url_imagen">Imagen</label>
                <input id="url_imagen" name="url_imagen" type="file"> <br>

               <label for="matricula">Matricula</label>
                <select id="matricula" name="matricula">
                    {{#each matricula}}
                        <option value={{matricula}}>{{matricula}}</option>
                    {{/each}}
                </select>
                <label for="id_tipo_media">Tipo Media:</label>
                <select id="id_tipo_media" name="id_tipo_media">
                    <option value="Imagen">Imagen</option>
                    <option value="Youtube">Youtube</option>
                    <option value="Dibujo">Dibujo</option>
                </select>
                
                
             <!--   <label>
                    <input id="activo_tipomedia" name="activo" type="radio" value="1">
                    Activo
                </label>
                <label>
                    <input id="inactivo_tipomedia" name="activo" type="radio" value="0">
                    Inactivo
                </label> -->
            </fieldset>
            <input type="submit" value="Crear">
        </form>
    </section>
    <a href="/admin/Media/listar"><strong>Volver a Media</strong></a>
</body>
</html>
