<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Integrantes</title>
    <link rel="stylesheet" href="/assets/css/tabla.css">
</head>
<body>
    <h1>Media</h1>
    <h2>Listado</h2>
    <h3>Filtar datos</h3>
    <section class="filter-form-container">
        <form method="get" action="/admin/media/listar">

        <label>ID</label>
        <input type="text" name="s[id]">

        <label>Integrante</label>
        <input type="text" name="s[nombre]">

        <label>Id Media</label>
        <input type="text" name="s[id_tipo_media]">

        <label for="">Orden</label>
        <input type="text" name="s[orden]">

        <input type="submit" value="Filtrar">

        </form>
    </section>
    <section>
        <table>
            <tr>
                <th>id</th>
                <th>nombre</th>
                <th>titulo</th>
                <th>url_video</th>
                <th>url_imagen</th>
                <th>matricula</th>
                <th>id_tipo_media</th>
                <th>orden</th>
                <th>activo</th>
                <th>acciones</th>
            </tr>

            {{#each media}}
            <tr>
                <td><a href="/admin/Media/edit/{{id}}">{{this.id}}</a> </td>
                <td> {{nombre}} </td>
                <td>{{titulo}} </td>
                <td>
                    {{#if url_video}}
                    <iframe width="200" height="96" src="{{url_video}}" frameborder="0"></iframe>
                    {{else}}
                    sin video
                    {{/if}}
                </td>
                <td>
                    {{#if url_imagen}}
                    <img width="150" height="100"src="{{url_imagen}}" alt="imagen">
                    {{else}}
                    sin imagen
                    {{/if}}
                </td>
                <td> {{matricula}} </td>
                <td> {{id_tipo_media}} </td>
                <td> {{orden}} </td>
                <td>{{activo}} </td>
                <td>
                    <form action="/admin/Media/delete/{{id}}" method="post">
                        <input type="submit" value="Eliminar">
                    </form>
                </td>
            </tr>
            {{/each}}
            
        </table>
    </section>
    <a href="/admin"><strong>Volver</strong> </a> <br>
    <a href="/admin/Media/crear">Crear</a>
</body>
</html>