body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 110vh;
}

h1, h2 {
    color: #343a40;
}

section {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
}

form {
    display: flex;
    flex-direction: column;
}

fieldset {
    border: none;
    padding: 0;
}

legend {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #495057;
}

label {
    margin-top: 10px;
    font-weight: bold;
    color: #495057;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 1em;
}

input[type="radio"] {
    margin-left: 10px;
}

input[type="submit"] {
    margin-top: 20px;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #aa8caf;
    color: white;
    font-size: 1em;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #aa8caf;
}

a{
    margin-top: 20px;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #aa8caf;
    color: white;
    font-size: 1em;
    cursor: pointer;
    text-decoration: none;
}