@import url(https://fonts.googleapis.com/css?family=Raleway);

body {
  margin: 0px;
}

.container-navbar {
  margin-top: 40px;
  padding: 24px;
  text-align: center;
  font-family: Raleway;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  background: #aa8caf;
}

.container-navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container-navbar li {
  display: inline-block;
}

.container-navbar li a {
  transition: 0.3s ease;
  background: #aa8caf;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  border-top: 4px solid #aa8caf;
  border-bottom: 4px solid transparent;
  padding: 20px 0;
  margin: 0 20px;
}

.container-navbar li a:hover {
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  padding: 6px 0;
}
/* Estilo para el contenedor personal-info-len */
.personal-info-len {
    margin: 20px auto; /* Centrar el contenedor horizontalmente */
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    max-width: 800px; /* Limitar el ancho del contenedor */
}
  /* Estilo para el encabezado */
.personal-info-len header {
    margin-bottom: 20px;
    text-align: center; /* Centrar el texto */
}

/* Estilo para el nombre */
.personal-info-len header h1 {
    font-size: 24px;
    margin-bottom: 5px;
}

/* Estilo para la matrícula */
.personal-info-len header p {
    font-size: 16px;
    color: #666;
}
  /* Estilo para los encabezados de las secciones */
.personal-info-len section h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

  /* Estilo para los iframes */
.personal-info-len iframe {
    display: block;
    margin: 0 auto 20px; /* Centrar el video horizontalmente */
}
  /* Estilo para las imágenes */
.personal-info-len img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(34, 34, 34);
    overflow-x: hidden; /* Ocultar la barra de desplazamiento lateral */
}

footer {
    background-color: #ffffff; /* Color de fondo azul claro */
    padding: 20px; /* Espacio interno */
    text-align: center; /* Alinear texto al centro */
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

footer ul {
    list-style-type: none; /* Eliminar viñetas de la lista */
    padding: 0;
}

footer ul li {
    display: inline; /* Mostrar elementos de lista en línea */
    margin: 0 10px; /* Margen horizontal entre elementos */
}

footer ul li a {
    text-decoration:none; /* Eliminar subrayado de enlaces */
    color: #2a639e; /* Color del texto */
    font-family: Arial, sans-serif;
    font-weight: bold;
}

footer ul li a:hover {
    text-decoration:underline; /* Subrayar enlaces al pasar el ratón */
}